html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, rgb(103, 129, 158), rgb(136, 157, 180));
}



#encabezado{
    border: 0.2em solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-items: center;
    align-items: center;
}

#encabezado img{
    width: 60%;
    height: 90%;
    aspect-ratio: 1/1; 
    border-radius: 60%;
    object-fit: cover;
}

h1{
    font-size: 3.5em;
    text-align: center;
}

#navegacion{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    gap: 0.5em;
}

#navegacion a{
    padding: 0.3em;
    text-decoration: none;
    text-shadow: 0.3em 0.3em 0.3em 0.3em gray;
    font-size: 1.5em;
    color: black;
    background-color: aliceblue;
    border-radius: 25%;
    text-align: center;
}

#contenedor-noticias{
    border: 0.1em solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.noticias{
    border: 0.1em solid white;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1 / 4;
    text-align: center;
    align-content: center;
}

.noticia{
    border: 0.2em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(255, 255, 255);
    align-items: center;
    text-align: center;
}

.noticias-urgentes{
    grid-column: 5/7;
    border: 0.2em solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: ce
}

#pie-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "contact derechos direccion";
    gap: 1.6rem;
    padding: 2rem;
    border-top: 0.1em solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.03);
    align-items: start;
}

#pie-pagina .contacto{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: start;
}

#pie-pagina .derechos-autor{
    grid-area: derechos;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-self: center;
}

#pie-pagina .direccion{
    grid-area: direccion;
    align-self:flex-start;     
    justify-self: end;      
    margin: 0;
}

#pie-pagina .contacto a{
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    border-radius: 0.6rem;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    font-size: 1.1rem;
}

