html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(182, 165, 165) , rgb(170, 164, 155));
}

.seccion_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    gap: 2em;
    /*border: 0.2em dashed rgb(0, 68, 255);*/

}

.producto{
    border: 0.2em solid rgb(97, 69, 69);
    box-shadow: 0.2em 0.2em 0.2em rgb(90, 85, 85);
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.2em 0.3em rgb(49, 36, 36);
}


.precio{
    font-weight: 900;
}

.producto button:hover{
    background-color: rgb(105, 95, 95);
    color: white;
}

.carrusel{
    background-image: radial-gradient(ellipse, rgb(182, 165, 165), rgb(170, 164, 155));
    display: flex;
    gap: 3em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.op{
    border: 0.2em solid rgb(245, 245, 245);
    box-shadow: 0.2em 0.2em 0.2em rgb(90, 85, 85);
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}