html{
    font-size: 62.5%;

}

body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#encabezado{
    background-color: rgb(182, 156, 145);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

#encabezado img{
 align-items: flex-start;
}

#encabezado h1{
    font-size: 2.5em;
}

#encabezado nav{
    border: 0.1em solid rgb(122, 79, 54);
}

#encabezado ul{
    border: 0.1em solid rgb(122, 79, 54);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#encabezado ul li{
    margin: 0.2em;
}

#encabezado ul li a{
    color: white;
}

img{
    height: 10em;
    width: 10em;
}


.contenedor--flexible{
    /* border: 0.5em  rgb(129, 110, 110); */
    padding: 2em;
    display: flex;
    /* height: 30em; */
    /* width: 30em; */
    /*flex-direction (row, column, row-reverse, column-reverse)*/
    flex-direction: row;
    /*justify-content (flex-start, flex-end, centrer, space-between, space-around, space-evenly)-MAIN-AXIS(EJES-X)*/
    justify-content: space-evenly;
    /*align-items (flex-start, flex-end, center, strech, baseline) transveral*/
    align-items: center;
    flex-wrap: wrap;
}

.contenedor--flexible div{
    background-color: rgb(177, 111, 74);
    margin: 1em;
    border: 0.1em solid rgb(129, 110, 110);
    height: 10em;
    width: 30em;
}
/*Propiedadezs flex para objetos flexibles*/
.objeto1{
    /*flex-grow: 2;*/
    order: 1;
    
}

.objeto2{
    /*flex-shrink: 0; */
}

.objeto3{
    /* flex-grow: 1; */
    order: -1;
}

.objeto4{
    order: -2;
}

@media screen and (max-widt: 350px){
    #encabezado ul{
    border: 0.1em solid rgb(122, 79, 54);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1em;
}

    #encabezado h1{
        font-size: 1.5em;
    }

    #encabezado img{
        width: 18%;
        height: 18%;
    }
}